extends layout.pug 
include mixins/video

block content 
    nav 
         ul 
            li
                a(href="/videos/upload") Upload Video
    each info in videos 
        +video(info)
    else 
        div Sorry nothing found